*.d
*.pre
*.p1
*.lst
*.sym
*.obj
*.o
*.sdb
*.obj.dmp
*.mk
*.map
*.properties
*.production
*.debug
html/

Lab*/part_*/nbproject/private/
Lab*/part_*/nbproject/Package-*.bash
Lab*/part_*/build/
Lab*/part_*/nbbuild/
Lab*/part_*/dist/
Lab*/part_*/nbdist/
Lab*/part_*/nbactions.xml
Lab*/part_*/nb-configuration.xml
Lab*/part_*/funclist
Lab*/part_*/nbproject/Makefile-*
Lab*/part_*/disassembly/
Lab*/part_*/.generated_files/

Lab*/.generated_files
Lab*/nbproject/private/
Lab*/nbproject/Makefile-*
